In [1]:
import numpy as np
import pandas as pd
import math
from sklearn import metrics

from scipy.stats import entropy

import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import matplotlib.dates as mdates #to format dates on our plots
%matplotlib inline
import seaborn as sns

# This is to make sure matplotlib doesn't throw the following error:
# The next line fixes "TypeError: float() argument must be a string or a number, not 'Timestamp' matplotlib"
pd.plotting.register_matplotlib_converters()

In [2]:
import acquire as a

def get_curric_data():
    df = pd.read_csv('anonymized-curriculum-access.txt', sep=" ", header=None)
    df['time_stamp'] = df[0] + ' ' + df[1]
    df = df.drop(columns = [0,1])
    df = df.rename(columns={2: "page", 3:'user_id', 4:'cohort_id', 5:'ip'})
    df.time_stamp = pd.to_datetime(df.time_stamp)
    df = df.set_index('time_stamp')
    return df

In [3]:
df = a.get_curric_data()
df.head()

,page,user_id,cohort_id,ip
time_stamp,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61